<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<tx:annotation-driven transaction-manager="transactionManager" />

	<context:component-scan base-package="com.ryan" ></context:component-scan>

	<!-- Database Configuration -->
	<import resource="config/database/spring/DataSource.xml" />
	<import resource="config/database/spring/HibernateSessionFactory.xml" />

	<!-- Beans Declaration -->
	<import resource="com/ryan/user/UserBean.xml" />
</beans>
